@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  button {
    @apply cursor-pointer;
  }
  input[type="text"] {
    @apply border border-gray-300 rounded w-full p-2 focus:outline-none focus:ring-2 focus:ring-blue-100;
  }
  red {
    @apply text-red-500;
  }
}

@layer utilities {
  .container {
    @apply mx-auto lg:max-w-5xl px-4;
  }
  .btn {
    @apply cursor-pointer px-4 py-2 rounded transition-colors;
  }
  .btn-primary {
    @apply bg-gray-500 text-white hover:bg-gray-600;
  }
  .btn-red {
    @apply bg-red-500 text-white hover:bg-red-600;
  }
}

#qr-area:hover {
  img {
    display: block;
  }
}