{% extends "base.html" %}
{% block title %}OpenTransLive - {{ sid }}{% endblock %}

{% block content %}
<main class="bg-gray-900 text-gray-100 min-h-svh">
  <div class="container">
    <h1>hello world</h1>
    <div>
      <span id="status-indicator" class="inline-block w-3 h-3 rounded-full bg-gray-400"></span>
      <span id="status-text" class="ms-1">Connecting...</span>
    </div>
    <button id="start-btn" class="btn btn-primary">Start</button>
    <button id="stop-btn" class="btn btn-red">Stop</button>
  </div>
</main>
{% endblock %} {% block scripts %}
<script>
  const sessionId = "{{ sid }}";
</script>
<script src="/static/js/realtime.js"></script>
{% endblock %}